/* CSS Generale */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:hover{
  scroll-behavior: smooth;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
  CSS Header 
*/

/* CSS Menù */

#menu{
  position: fixed;
  z-index: 999;
  margin-top: 20px;
  float: left;
  right: 0;
}

nav ul li{
  background-color: white;
  float: left;
  padding: 10px 15px;
  border-radius: 50%;
  margin-right: 15px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  float: left;
  color: black;
}

nav ul li a:hover{
  color: white;
}

nav ul li:hover{
  background-color: lightgray;
}

nav ul li:active{
  background-color: grey;
  margin-top: 5px;
}
/* 
/CSS Header
*/

/* 
  CSS Main 
*/

section{
  width: 100%;
  height: 100vh;
  position: relative;
}

.shoes-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-align: center;
}

.shoes-box img{
  width: 100%;
}

.text{
  text-transform: uppercase;
  font-size: 4vw;
}

.y-t{
  color: yellow;
}

.g-t{
  color: green;
}


/* CSS Shoes Red */
#red-box{
  background-color: red;
}

/* CSS Shoes Green */
#green-box{
  background-color: green;
}

/* CSS Shoes Yellow */
#yellow-box{
  background-color: yellow;
}

/* 
  /CSS Main
*/