/* CSS Generale */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
  width: 100%;
  height: 100vh;
}

/* CSS Shoes Red */
#red{
  background-color: red;
}

/* CSS Shoes Green */
#green{
  background-color: green;
}

/* CSS Shoes Yellow */
#yellow{
  background-color: yellow;
}